@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  background-color: #342e59;
}

a {
  color: #d5d7f2;
}

a:visited {
  color: #8c5656;
}

.container {
  width: 100vw;
  height: 100vh;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 30px;
  color: #d5d7f2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d0d0d;
}

.header .logo {
  width: 100px;
  height: auto;
  padding-left: 20px;
}

.header .nav-links {
  list-style-type: none;
  color: #d5d7f2;
  padding-right: 20px;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li a {
  text-decoration: none;
  color: #8c5656;
}

.header .nav-links li a:visited {
  color: #d5d7f2;
}

.header .nav-links li a:hover {
  color: #8c5656;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d5d7f2;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-text {
  font-size: 15px;
  color: #d5d7f2;
}

.blog-container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  padding: 3rem 5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto (1fr)[3];
      grid-template-rows: auto repeat(3, 1fr);
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-title h1 {
  padding-bottom: 2rem;
  margin: 0;
}

.blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0d0d0d;
}

.blog-post h2 {
  font-size: 1.5rem;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */