// // Variables

$primary-text-color: #d5d7f2;
$secondary-text-color: #8c5656;
$primary-background-color: #0d0d0d;
$secondary-background-color: #342e59;

// // Imports

// General Overrides

body {
  margin: 0;
  background-color: $secondary-background-color;
}

.container {
  width: 100vw;
  height: 100vh;

  font-weight: bold;
  font-size: 30px;

  display: grid;
  grid-template-rows: auto 1fr auto;

  box-sizing: border-box;
}

// Header

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-background-color;
  .logo {
    width: 100px;
    height: auto;
    padding-left: 20px;
  }
  .nav-links {
    list-style-type: none;
    color: $primary-text-color;
    padding-right: 20px;
    li {
      display: inline-block;
      padding: 0 20px;
      a {
        text-decoration: none;
        color: $secondary-text-color;
      }
      a:visited {
        color: $primary-text-color;
      }
    }
  }
}

// Content
.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: $primary-text-color;
}

// Footer
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer-text {
    font-size: 15px;
  }
}

// Blog

.blog-container {
  display: grid;
  gap: 2rem;
  padding: 3rem 5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto repeat(3, 1fr);

  width: 100vw;
  height: 100vh;

  box-sizing: border-box;
}

.blog-title {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    padding-bottom: 2rem;
    margin: 0;
  }
}

.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $primary-background-color;
  h2 {
    font-size: 1.5rem;
  }
}
