// Imports

@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap");

// General Overrides

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

a {
}

a:visited {
}

ul {
  list-style-type: none;
}

// Navigation Bar

.navbar {
  background: black;
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    a {
      color: white;
    }

    a:hover {
      color: grey;
    }

    .logo {
      width: 7rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
    }
  }
}

// Header

// Footer

footer {
  background: grey;
  color: white;

  margin-top: auto;
  .container {
    display: flex;
    justify-content: center;
  }
}
