// // Variables

$primary-text-color: #d5d7f2;
$secondary-text-color: #8c5656;
$primary-background-color: #0d0d0d;
$secondary-background-color: #342e59;

// // Imports

// @import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

// // General Overrides

// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   background-color: $secondary-background-color;
// }

// // Navigation Bar

// header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 2%;

//   .logo {
//     width: 100px;
//     height: auto;
//   }
//   .nav-links {
//     list-style: none;
//     li {
//       display: inline-block;
//       padding-left: 20px;
//       a {
//         color: $primary-text-color;
//         text-decoration: none;
//         font-size: 2em;
//       }
//     }
//   }
// }

// // Main Content

// .home-text {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   h1 {
//     color: $secondary-text-color;
//     font-family: "Rock Salt", cursive;
//     font-size: 3em;
//   }
//   h4 {
//     color: $primary-text-color;
//   }
// }

// .main-img {
//   max-width: 50%;
//   height: auto;
// }

// General Overrides

body {
  margin: 0;
  background-color: $secondary-background-color;
}

.container {
  width: 100vw;
  height: 100vh;

  font-weight: bold;
  font-size: 30px;

  display: grid;
  grid-template-rows: auto 1fr auto;

  box-sizing: border-box;
}

// Header

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-background-color;
  .logo {
    width: 100px;
    height: auto;
    padding-left: 20px;
  }
  .nav-links {
    list-style-type: none;
    color: $primary-text-color;
    padding-right: 20px;
    li {
      display: inline-block;
      padding: 0 20px;
      a {
        text-decoration: none;
      }
      a:visited {
        color: $primary-text-color;
      }
    }
  }
}

// Content
.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: $primary-text-color;
}

// Footer
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer-text {
    font-size: 15px;
  }
}
